<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807284013758-v8l822ugav2e06l4vu01enntp8s7tlm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807284013758-v8l822ugav2e06l4vu01enntp8s7tlm3</string>
	<key>API_KEY</key>
	<string>AIzaSyAN1EPol_AhLt5S8USoDYL4oG-EqZhUxtE</string>
	<key>GCM_SENDER_ID</key>
	<string>807284013758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cmallbiz.Taco-Tally</string>
	<key>PROJECT_ID</key>
	<string>taco-tally-193115</string>
	<key>STORAGE_BUCKET</key>
	<string>taco-tally-193115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807284013758:ios:9e7b5933ebbe2aa4</string>
	<key>DATABASE_URL</key>
	<string>https://taco-tally-193115.firebaseio.com</string>
</dict>
</plist>